
<style>

/* css for Circle Pack */
.node {
   cursor: pointer; 
 } 

 .node:hover { 
   stroke: #000; 
   stroke-width: 1.5px; 
 } 

 .node--leaf { 
   fill: white; 
 } 

 .labeld3 { 
   font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif; 
   text-anchor: middle; 
   text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff; 
 } 

 .labeld3, 
 .node--root, 
 .node--leaf { 
   pointer-events: none; 
 } 
 
/* css for Treemap */
#d3Chart {
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  margin: auto;
  position: relative;
  width: 80%;
  top:23px;
}

.nodeTm {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}
</style>

<div id="csgraphs">
	<div class="content" ng-show="filtered.repository!=null">
		<div class="form-group">
			<form ng-submit="getCodeSmell()">
			
				<div class="col-md-1" style="margin-right:-20px;">
					<label style="vertical-align:sub;" for="listTags">Tags: </label>
				</div>
				<div class="col-md-2">
					<select class="form-control" name="listTags" ng-model="filtered.selTagId">
						<option ng-repeat="tag in filtered.tags" value="{{tag._id}}">{{tag.name}}</option>	
					</select>
				</div>
				<div class="col-md-2" style="margin-right:-100px;">
					<label style="vertical-align:sub;" for="listCodeSmells">Code Smells:</label>
				</div>
				<div class="col-md-2">
					<select class="form-control" name="listCodeSmells" ng-model="filtered.selCSId">
						<option ng-repeat="cs in filtered.codeSmells" value="{{cs.id}}">{{cs.name}}</option>
					</select>
				</div>
				<div class="col-md-1" style="margin-right:-10px">
					<label  for="listGraphsTypes">Graphs:</label>
				</div>
				<div class="col-md-2">
					<select  class="form-control" name="listGraphsTypes" ng-model="filtered.selGrap">
						<option ng-repeat="graph in filtered.graphType" value="{{graph.id}}">{{graph.name}}</option>
					</select>
				</div>
				<div class="col-md-3">
					<input type="checkbox" ng-model="filtered.affectedOnly">Only affected objects
					<input type="submit" style="margin-left:20px;" class="btn btn-primary" value="Send">
				</div>
				
			</form>
		</div>
		
		<div ng-show="filtered.selGrap!=null && filtered.selCSId!=null && filtered.selTagId!=null" id="d3Chart"></div>

    	<script>
    		//Treemap Graph
	    	function treemapChart(root){
		    		var margin = {top: 40, right: 10, bottom: 10, left: 10},
		    	    width = 960 - margin.left - margin.right,
		    	    height = 500 - margin.top - margin.bottom;
		
			    	var color = d3.scale.category20c();
		
			    	var treemap = d3.layout.treemap()
			    	    .size([width, height])
			    	    .sticky(true)
			    	    .value(function(d) { return d.size; });
		
			    	var div = d3.select("#d3Chart").append("div")
			    	    .style("position", "relative")
			    	    .style("width", (width + margin.left + margin.right) + "px")
			    	    .style("height", (height + margin.top + margin.bottom) + "px")
			    	    .style("left", margin.left + "px")
			    	    .style("top", margin.top + "px");
		
			    	  var node = div.datum(root).selectAll(".nodeTm")
			    	      .data(treemap.nodes)
			    	    .enter().append("div")
			    	      .attr("class", "nodeTm")
			    	      .call(position)
			    	      .style("background", function(d) { return d.hasCodeSmell !== undefined && d.hasCodeSmell ? "#dd4b39": d.children ? color(d.name) : null; })
			    	      .text(function(d) { return d.children ? null : d.name; });
		
			    	  d3.selectAll("input").on("change", function change() {
			    	    var value = this.value === "count"
			    	        ? function() { return 1; }
			    	        : function(d) { return d.size; };
		
			    	    node
			    	        .data(treemap.value(value).nodes)
			    	      .transition()
			    	        .duration(1500)
			    	        .call(position);
			    	  });
		
			    	function position() {
			    	  this.style("left", function(d) { return d.x + "px"; })
			    	      .style("top", function(d) { return d.y + "px"; })
			    	      .style("width", function(d) { return Math.max(0, d.dx - 1) + "px"; })
			    	      .style("height", function(d) { return Math.max(0, d.dy - 1) + "px"; });
			    	}
			    	
	    		} 
	    		
	    	//CirclePack Graph
	    	function circlePackChart(root) {	  
		    	  var margin = 20,
		          diameter = 940;
				
			      var color = d3.scale.linear()
			        .domain([-1, 5])
			        .range(["hsl(152,80%,80%)", "hsl(228,30%,40%)"])
			        .interpolate(d3.interpolateHcl);
	
			      var pack = d3.layout.pack()
			        .padding(2)
			        .size([diameter - margin, diameter - margin])
			        .value(function(d) { return d.size; })
	
			      var svg = d3.select("#d3Chart").append("svg")
			        .attr("width", diameter)
			        .attr("height", diameter)
			        .append("g")
			        .attr("transform", "translate(" + diameter / 2 + "," + diameter / 2 + ")");
		
			      var focus = root,
			          nodes = pack.nodes(root),
			          view;
		
			      var circle = svg.selectAll("circle")
			          .data(nodes)
			          .enter().append("circle")
			          .attr("class", function(d) { return d.parent ? d.children ? "node" : "node node--leaf" : "node node--root"; })
			          .style("fill", function(d) { return d.hasCodeSmell !== undefined && d.hasCodeSmell ? "#dd4b39" : d.children ? color(d.depth) : null; })
			          .on("click", function(d) { if (focus !== d) zoom(d), d3.event.stopPropagation(); });
		
			      var text = svg.selectAll("text")
			          .data(nodes)
			          .enter().append("text")
			          .attr("class", "labeld3")
			          .style("fill-opacity", function(d) { return d.parent === root ? 1 : 0; })
			          .style("display", function(d) { return d.parent === root ? "inline" : "none"; })
			          .text(function(d) { return d.name; });
		
			      var node = svg.selectAll("circle,text");
		
			      d3.select("body")
			          .style("background", color(-1))
			          .on("click", function() { zoom(root); });
		
			      zoomTo([root.x, root.y, root.r * 2 + margin]);
		
			      function zoom(d) {
			        var focus0 = focus; focus = d;
		
			        var transition = d3.transition()
			            .duration(d3.event.altKey ? 7500 : 750)
			            .tween("zoom", function(d) {
			              var i = d3.interpolateZoom(view, [focus.x, focus.y, focus.r * 2 + margin]);
			              return function(t) { zoomTo(i(t)); };
			            });
		
			        transition.selectAll("text")
			          .filter(function(d) { return d.parent === focus || this.style.display === "inline"; })
			            .style("fill-opacity", function(d) { return d.parent === focus ? 1 : 0; })
			            .each("start", function(d) { if (d.parent === focus) this.style.display = "inline"; })
			            .each("end", function(d) { if (d.parent !== focus) this.style.display = "none"; });
			      }
		
			      function zoomTo(v) {
			        var k = diameter / v[2]; view = v;
			        node.attr("transform", function(d) { return "translate(" + (d.x - v[0]) * k + "," + (d.y - v[1]) * k + ")"; });
			        circle.attr("r", function(d) { return d.r * k; });
			      }
		
			      d3.select(self.frameElement).style("height", diameter + "px");
	    	}
	    		
	    	function updateChart(root, graphType){
	    		if(graphType==0){
	    			treemapChart(root);
	    		}	
	    		else {
	    			circlePackChart(root);
	    		}
	    	}
    	</script>

	</div>
</div>